[ml2]
extension_drivers = port_security
tenant_network_types = {{ tenant_network_type }}

{% if tenant_network_type == "vlan" %}
[ml2_type_vlan]
network_vlan_ranges = {{ m2_vlan_ranges }}

{% endif %}
[ovs]
bridge_mappings = {% if tenant_network_type == "vlan" %} {{ ovs_bridge_mapping }} {% else %} physnet1:br-ex  {% endif %}

{% if tenant_network_type == "vxlan" %}
{% set entry_cur = "{{" %}
{% set end_curl = "}}" %}
{% set entry_jinja = "{%" %}
{% set end_jinja = "%}" %}
local_ip = {{ entry_cur }} node_info[inventory_hostname].tunnel_ip {{ end_curl }}
{% if ovs_type == "ovs-dpdk" %}
{{ entry_jinja }} if inventory_hostname in groups['network'] {{ end_jinja }}
datapath_type = system
{{ entry_jinja }} endif {{ end_jinja }}
{% endif %}
{% endif %}
